<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LAYOUTS2
        link(rel="stylesheet", href="/css/styles.css")
    body
        header.header
            .header__col1 col1
            .header__col2 col2

        main.main
            .main__col1 col1
            .main__col2 col2
            .main__col3 col3

        footer.footer
            .footer__col1 col1
            .footer__col2 col2
